<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-zebra-externalkeypad" version="1.0">
    <name>Cordova Plugin - Zebra External Keypad</name>

    <description>An Android Cordova plugin to identify if Zebra's external (physical) keypad is connected to the device.</description>
    <license>MIT</license>

    <keywords>cordova,android,zebra,keyboard,keypad,external,mount,wt6000,wt6300,KYPD-WT6XANFASM-01</keywords>
    <repo>https://github.com/jobbemaas/cordova-plugin-zebra-externalkeypad</repo>
    <issue>https://github.com/jobbemaas/cordova-plugin-zebra-externalkeypad/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=7.1.0"/>
    </engines>
  
    <js-module src="www/ZebraExternalKeypad.js" name="ZebraExternalKeypad">
        <clobbers target="window.plugins.ZebraExternalKeypad" />
    </js-module>
	
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZebraExternalKeypad">
                <param name="android-package" value="com.jobbemaas.plugin.ZebraExternalKeypad"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/jobbemaas/plugin/ZebraExternalKeypad.java" target-dir="src/com/jobbemaas/plugin" />
    </platform>
</plugin>
